@import 'config';

/************************************* NAV LINKS ****************************************/
.navbar-toggler {
  // Need to use '!important to override the bootstrap styling for this
  // bootstrap class
  outline: none !important;

  .toggler-icon {
    font-size: 2.5rem;
    color: $main-pink;
  }
}

.nav-link {
  color: $main-pink;
  font-size: 1.5rem;

  &:hover {
    color: $main-black;

    // Mixin function defined in _config.scss file
    @include easeIn();
  }
}

/************************************** CART STYLES *************************************/
.cart-info {
  border: 0.1rem solid $main-black;
  color: $main-black;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;

  &:hover {
    background: $main-pink;
    border-color: $main-pink;
    color: $main-white;

    .cart-info__icon {
      color: $main-white;
    }
  }

  .cart-info__icon {
    color: $main-black;
  }
}

.cart {
  position: absolute;
  min-height: 10rem;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 0;
  overflow: hidden;

  .cart-item-remove {
    color: $main-pink;
    @include easeInOut;

    &:hover {
      transform: scale(1.1);
      color: $main-black;
    }
  }

  .cart-item-price {
    font-size: 0.8rem;
  }
}

.cart-item {
  transition: all 2s ease-in-out;
}

.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
/*********************************** SHOWCASE STYLES ************************************/
.max-height {
  min-height: calc(100vh - 76px);

  // Create a yellow overlay
  background: linear-gradient($yellow-trans, $yellow-trans),
    url('/images/headerBcg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  // This will be the parent container for a cart element that will have position
  // 'absolute'
  position: relative;
}

.showcase {
  color: $main-white;
  margin-top: -4rem;

  .showcase-link {
    font-size: 1.5rem;
    color: $main-black;
    border: 0.2rem solid $main-black;

    &:hover {
      background: $main-black;
      color: $main-pink;
    }
  }
}

/************************************** ABOUT STYLES ************************************/
.about-image-container {
  position: relative;

  // Use pseudo selector to create an outline around the image
  &::before {
    // Always have to have a 'content' property when using pseudo selectors!!!!!
    content: '';
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid $main-yellow;
    z-index: -1;
    @include easeIntoImage();
  }

  &:hover::before {
    top: 0;
    left: 0;
  }
}

/************************************** STORE STYLES ************************************/
.store {
  background: $main-grey;
  .search-box {
    background: $main-pink;
    color: $main-black;
  }

  .image-container {
    // This will serve as a parent container for the cart icon which we will position absolute within
    // this container.
    position: relative;

    // This will prevent the image from over flowing the container when it is zoomed in on.
    overflow: hidden;
    cursor: pointer;
  }
}

.store-img {
  @include easeInOut();
}

.image-container:hover .store-img {
  transform: scale(1.2);
}

.single-item {
  @include easeIn();

  &:hover {
    box-shadow: 0 10px 15px rgb(0, 0, 0);
  }
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: $main-yellow;
  border-top-left-radius: 1rem;
  @include easeInOut();

  // This line will shift the icon over to the right 100% and down 100% to hide it.
  transform: translate(100%, 100%);

  &:hover {
    color: $main-white;
    background: $main-black;
  }
}

.image-container:hover .store-item-icon {
  transform: translate(0, 0);
}

/************************************** SERVICES STYLES ************************************/
.services {
  color: $main-white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/images/servicesBcg.jpeg') center/cover fixed no-repeat;

  .service-title {
    letter-spacing: 0.5rem;
  }

  .service-text {
    word-spacing: 0.5rem;
  }
}

/************************************** FOOTER STYLES ************************************/
.footer-title {
  background: $main-black;
}

.footer-contacts {
  background: $main-grey;
}

.footer-icon {
  font-size: 1.5rem;
  color: $main-white;
  @include easeIn;

  &:hover {
    color: $main-pink;
  }
}

.footer-contact {
  font-size: 1.5rem;
  color: $main-black;
  @include easeIn;

  &:hover {
    color: $main-pink;
  }
}
